/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Roboto', sans-serif;
}

body{
  margin: 15px;
}

app-header{
  display: flex;
  margin-bottom: 10px;
}

app-home {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
